* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

#app {
    background-image: linear-gradient(
        315deg,
        rgb(213, 240, 255) 0%,
        rgb(255, 255, 255) 100%
    );
}
